.navbar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #222;
    align-items: center;
    padding: 0px 20px;
}
.logo{
   color: #fff;
   font-size: 20px;
}
.navbar ul li{
    list-style-type: none;
}
.navbar ul{
    display: flex;
    gap: 10px;
}
.navbar ul li a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.navbar ul li a:hover{
    border-bottom: 1px solid #fff;
    transition: 0.2s;
    z-index: 5;
}
.cart-count{
    /* background-color: rgb(185, 159, 14); */
    background-color: rgb(233, 173, 10);
    padding: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;

    
    
}